version: 2.1

# add your orb below, to be used in integration tests (note: a @dev:alpha
# release must exist.);
orbs:
  heroku: circleci/heroku@1.2.6
  grype: anchore/grype@0.2.0
  sonarcloud: sonarsource/sonarcloud@1.1.1
  snyk: snyk/snyk@1.2.3

jobs:
  # This job should execute a command from your orb and verify
  # the output is as expected, otherwise the job should fail.
  #
  builddeploy:
    executor: heroku/default
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker build -t myrepo/myimage:tag .
      - run: mkdir -p workspace
      - snyk/scan:
        docker-image-name: myrepo/myimage:tag
        fail-on-issues: false
      - heroku/install
      - heroku/check-authentication
      - sonarcloud/scan



      - run:
          name: Check if Heroku is installed
          command: |
            if [[ $(command -v heroku) == "" ]]; then
              echo " Heroku is not installed! "; exit 1;
            else
              echo Heroku successfully installed..
            fi
      - heroku/push-docker-image:
          app-name: $HEROKU_APP_NAME
          process-types: web
      - heroku/release-docker-image:
          app-name: $HEROKU_APP_NAME
          process-types: web

workflows:
  build:
    jobs:
      - builddeploy